.galeria{
    background-color: #57ceec;
    color: black;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    gap: 20px;
}

.caja1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja1:hover{
  background-color: #56d85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caja2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja2:hover{
  background-color: #56d85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja3:hover{
  background-color: #56d85c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}