h1 { color: blue; }
#titulo { font-size: 32px;}
.caja, .titulo { background: #a2dee0; }

body {
    background-color: rgb(231, 193, 123);
    padding: 25px;
    margin: 5px;
}

.titulo {
  padding: 20px;
  margin: 10px;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 10px;
}

.caja {
  padding: 20px;
  margin: 10px;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 10px;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {
  body { background-color: rgb(223, 45, 45); }
}